.container {
    
  }

.form {
    margin-left: 25%;
    margin-right: 25%;
}

#newUsers {
    margin-left: 25%;
    margin-right: 25%;
}

.jumbotron {
    padding: 15px;
}

#hero {
    
    background-repeat: no-repeat;
    height: auto;
    max-width: 100%;
    
}