.container {
    /* background-image: url(../../images/IvyClipart2.png);
    background-repeat: no-repeat;
    width: 100vw; */
  }

.form {
    margin-left: 25%;
    margin-right: 25%;
}

#newUsers {
    margin-left: 25%;
    margin-right: 25%;
}

.jumbotron {
    padding: 15px;
}

#hero {
    background:silver;
    align-content: center; 
}

img {
    max-width: 500px;
    height: auto;
    border-radius: 25px;
    align-content: center;
}