.App {
    background-image: url(../../images/IvyClipart2.png);
    background-repeat: no-repeat;
    width: 100vw;
    z-index: 1;
    position: relative;
    min-height: 100vh;
  }

.form {
    margin-left: 25%;
    margin-right: 25%;
}

#newUsers {
    margin-left: 25%;
    margin-right: 25%;
}

.jumbotron {
    padding: 15px;
    background: rgba(0, 0, 0, 0.0);
}